<%= form_for @report, :html => {:class => "form form-horizontal"} do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id %>
    </div>
    <div class="field">
      <%= f.hidden_field :times %>
    </div>

    <div class="field control-group">
      <label class="control-label"><%= l(:report_title) %>:</label>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="field control-group">
      <label class="control-label">SQL：</label>
      <div class="controls">
        <%= f.text_area :sql %>
      </div>
    </div>

    <div class="field control-group">
      <div class="controls">
        <label class="checkbox">
        <%= f.check_box :public_flg, {}, 1, 0 %> <%= l(:report_public) %>
        </label>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>


<% end %>
